---
import Icons from "@/helpers/Icons.astro";
import config from ".astro/config.generated.json" assert { type: "json" };
import { getCategories } from "@/lib/utils/strapiApi";
import {
  getLocaleUrlCTM,
  useTranslations,
} from "@/lib/utils/i18nUtils.ts";

interface Category {
  name: string;
  slug: string;
  count: number;
}

interface Props {
  class?: string;
}

let categories = await getCategories();

categories = categories.map((category) => {
  const slug = getLocaleUrlCTM(
    category.slug,
    Astro.currentLocale,
    `/${config.settings.blogFolder}/category`,
  );

  return {
    ...category,
    slug,
  };
});

const t = await useTranslations(Astro.currentLocale as string);

// Sort categories by count
categories = categories.sort((a, b) => b.count - a.count);
---

{
  categories && categories.length > 0 && (
    <div class="space-y-4">
      <h2 class="text-h5 border-border-light/50 mb-4 border-b pb-4">
        {t("widgets.categoriesTitle")}
      </h2>
      <div>
        {categories.map((category) => (
          <div class="group/category relative flex items-center gap-4 py-1 first:pt-0 last:pb-0">
            <span class="group-hover/category:text-primary inline-block transition duration-300 group-hover/category:translate-x-1">
              <Icons icon="ChevronRight" />
            </span>
            <span
              class="group-hover/category:text-primary truncate transition duration-300"
              set:html={category.name}
            />
            <a
              href={category.slug}
              class="absolute inset-0"
              title={`Filter posts by ${category.name}`}
            />
            <div
              class="bg-theme-light group-hover/category:bg-primary/10 group-hover/category:text-primary ml-auto flex h-9 w-9 items-center justify-center rounded-full text-sm transition duration-300"
              set:html={category.count}
            />
          </div>
        ))}
      </div>
    </div>
  )
}
